.container{
	margin: 0 20% 0 20%;
}
.courses{

}
.course{
	/*text-align: center;*/
    background-color: #1f639e;
    color: white;
    font-family: monospace;
    font-size: 18px;
    margin-bottom: 5px;
    border-radius: 20px;
    padding: 5% 3% 5% 5%;
}

.la-title{
	padding: 3%;
}
.chapter{
	padding-left: 3%;
}
.units{
	width: 100%;
}
.unit{
	padding-left: 3%;	
}
.display{
	display: block !important;
}
.hide{
	display: none;
}
