.outer-container{
	background-color: white;
	width: 80%;
	height: 80%;
	margin: 10%;
	border-radius: 2%;
}

.inner-container{
	border-radius: 5px;
	background-color: white;
	/*height: 80%;
	width: 80%;
	margin: 10%;*/
}

.menu-icon{
	background-color: #092d4c;
	width: 50px;
	height:40px;
	position: relative;
	cursor: pointer;
	z-index: 3;
	/*border-radius: 5px;*/
}
.bar-container{
	width: 40px;
	height: 20px;
	background-color: #092d4c;
	position: absolute;
	top: 10%;
	margin: 0px 6px;
}
.bar{
	background-color: white;
	width: 40px;
	height:5px;
	margin-top: 4px;
}

.menu-options{
	position: absolute;
	color: white;
    background-color: #092d4c;
    width: fit-content;	
}
.menu{
	height: 0px !important;
}
.menu-opt{
	padding: 5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: white;
}
.menu-opt:last-child{
	border-bottom: none;
}
body{
	background-color: #1f639e;
}