.header{
	height:60px;
	background-color:#1f639e;
}

.logo{
	width:40%;
	background-color:blue;
	content:"FUNDA LOGO";
}

.menu-container{

}
/*menu bar*/
.menu-bar{
	text-align: center;
}
/*menu items*/
.menu-item{
	
	
}

.nav-menu-item{
    display: inline-block;
    color: white;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    padding: 10px 20px 10px 20px;
    background-color: #1f639e;
    border-radius: 5px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
  	font-stretch: expanded;
}

/*body*/
.grid-display{
    display: inline-block;
    color: white;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    padding: 10px 20px 10px 20px;
    background-color: #1f639e;
    border-radius: 5px;
    width: 200px;
    height: 100px;
    text-decoration: none;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
  	font-stretch: expanded;
}
/*login*/
.login{
	width: 400px;
	margin-top: 5%;
	margin-left: 35%;
}
.login-input{
	position: relative;
	width: 400px;
	height: 50px;
	border-color: #004affc2;
	border-radius: 10px;
}

#login-button{
/*	position: absolute;
	left: 47%;*/
	background-color: blue;
	width: 130px;
	height: 50px;
	color: white;
	border-radius: 10px;
	border-width: 2;
	font-size: 18px;
	border-color: #004affc2;
	margin-left: 30%;
}