.chapter{
	padding-left: 5%; 
	
}
.units{
	padding-left: 10%;
}

.display{
	display: block;
}
.hide{
	display: none;
}

.chapter,.units,.la{
	cursor: pointer;
}

#container{
	display: inline-flex;
	width: 100%;
}
#edit_view{
	/*background-color: green;*/
	width: 70%;
	/*display: none;*/
}

#las{
	width: 30%;
}

.edit_view_title{
	text-align: center;
}

.tool-bar{
}

.tools{
	display: inline-flex;
	list-style: none;
}

.tool{
	padding-left: 20px;
	padding-right: 20px;
	border-right-style: solid;
	border-right-width: 1px; 
}
.tool:last-child{
	padding-right: 0px;
	border-right-style: none;
}
.edit{
	width: 100%;
	height:50px;
	border-radius: 5px;
	border-color: green;
	border-style: solid;
}
#id{
	width: 100%;
	height:10px;
}